.building-buttons{
    position: absolute;
    font-size: 50%;
    opacity: 0;

    &:hover{
        opacity: 1;
    }

    &__wrapper{
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-evenly;
    }

    &__button{
        width: calc(33% - 10px);
        max-width: 50px;
        height: fit-content;
        padding: 5px;
        background-color: rgb(212, 183, 30);
        border: 1px solid #c10000;
        box-shadow: 0 0 3px rgb(255, 0, 0), inset 0 0 15px 1px #ff3b3b;

        &:hover{
            background-color: rgb(212, 223, 30);
            cursor: pointer;
        }

        &-image{
            width: 100%;

            &--coin{
                width: 7px;
                height: 7px;
            }
        }
    }
}