.building-buttons{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 50%;

    &__button{
        width: calc(33% - 10px);
        max-width: 50px;
        height: fit-content;
        padding: 5px;
        background-color: rgb(212, 183, 30);
        border: 1px solid #c10000;
        box-shadow: 0 0 3px rgb(255, 0, 0), inset 0 0 15px 1px #ff3b3b;

        &-image{
            width: 100%;

            &--coin{
                width: 7px;
                height: 7px;
            }
        }
    }
}