.shop{
	position: absolute;
	top: 50px;
    left: 0;
    right: 0;
    margin: auto;
	background-color: rgb(212, 193, 30);
	border: 3px solid #c10000;
    box-shadow: 0 0 10px rgb(255, 0, 0);
	max-width: 1064px;
	
	&__body{
		box-shadow: inset 0 0 30px 5px #ff3b3b;
		padding: 10px 20px 20px;
		overflow: hidden;
	}

	&__title{
		font-family: 'FortunataCYR';
		font-size: 52px;
		padding: 0 0 30px;
		text-align: center;
		color: #e80000;
		text-shadow: 0 0 10px black;
	}

	&__close{
		position: absolute;
		top: -10px;
		right: -10px;
		height: 30px;
		width: 30px;
		background-color: red;
		border-radius: 5px;
		box-shadow: 0 0 5px 0 black;
		cursor: pointer;
		
		&:hover{
			color: yellow;
		}
		&:active{
			background-color: #bb5b00;
			color: black;
		}
	}
		
	&__close-body{
		box-shadow: inset 0 0 5px 0px black;
		height: 100%;
		border-radius: 5px;
		text-align: center;
		line-height: 22px;
		font-size: 28px;
		font-family: cursive;
	}

	&__categories{
		position: absolute;
		top: 27px;
		display: flex;
	}

	&__container{
		height: calc(100% - 150px);
		background-color: #ff710087;
		box-shadow: 0 0 125px #ff6a00;
	}




	&__category{
		width: 50px;
		cursor: pointer;
		border: 5px solid black;
		background-color: #515400;
		box-shadow: 0 0 5px black;
		height: 50px;
		margin-right: 5px;

		&:hover{
			background-color: #ff8800;
		}
	}

	&__category-active{
		background-color: #ff8800 !important;
		border-bottom-width: 15px;
	}

	&__category-title{
		font-family: 'Cheri';
		font-size: 18px;
		color: #ff0000;
		text-shadow: 0 0 5px black;
		padding-left: 10px;
	}



	&__items-container{
		box-shadow: 0 0 5px black;
		border: 3px solid black;

		&--background1{
			background: url('../../../assets/img/shop/fon1.jpg');
			background-size: cover;
		}
		&--background2{
			background: url('../../../assets/img/shop/fon2.jpg');
			background-size: cover;
		}
		&--background3{
			background: url('../../../assets/img/shop/fon3.jpg');
			background-size: cover;
		}
	}
	&__items-container-body{
		background-color: rgba(0, 0, 0, 0.5);
		padding: 10px 5px;
		overflow: auto;
		box-shadow: 0 0 50px 10px black;
	}


	&__item{
		float: left;
		margin: 10px;
		padding: 15px;
		position: relative;
		width: 200px;
		height: 270px;
		background-color: orange;
		box-shadow: inset 0 0 15px black;

		&:hover{
			border-color: #ff8800;
		}

		& > div{
			color: #000000;
		}

		& > button{
			border-color: #00204e !important;
			background-color: #000a15;
			bottom: 15px;
			position: absolute;
			width: calc(100% - 30px);
			color: #41f5ff;
			box-shadow: 0 0 25px 3px #ff6700;
			cursor: pointer;
			font-family: 'AnotherCastle3';
			font-size: 18px;
			padding: 2px 0 3px;

			&:hover{
				color: #ff8800;
			}

			& > img {
				width: 15px;
				margin: 0 5px;
				position: absolute;
			}
		}
	}
	&__item-active{
		border-color: #0069ff !important;
	}

	&__item-img-container{
		cursor: pointer;
		box-shadow: 0 0 25px 3px #ff6700;
		height: 200px;
		margin-bottom: 15px;

		& > img{
			height: 200px;
			width: 100%;
			object-fit: contain;
		}
	}
	
	&__item-title{
		font-weight: bold;
		font-size: 18px;
	}

	&__item--info &__item-img{
		display: none;
	}

	&__item--info &__item-info{
		display: block;
	}

	&__item-info{
		display: none;
		padding: 7px 10px;

		& > p{
			margin-bottom: 10px;
		}
	}
}