.panels{
	&--bottom{
		position: relative;
		top: -7px;
		text-align: center;
		display: flex;
		flex-direction: column;
	}
	
	&--top{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		text-align: center;
		z-index: 2;
	}

	&--shift-top{
		top: -115px !important;
	}

	&--transition{
		transition: top 2s;
	}
}

.panel{
	background-color: #764307;
	display: inline-block;
	box-shadow: inset 0 0 8px 1px black;
	padding: 15px 20px;
	margin: auto;

	&--bottom{
		position: relative;
		top: 0;
		&:nth-child(2) {
			top: -12px;
			padding: 10px 15px; 
			z-index: -1;
		}
	}

	&--clip-bottom{
		clip-path: inset(0px 0px 4px 0px);
	}

	&--top{
		padding: 0;
		box-shadow: none;
		background-color: transparent;

		& .panel__item{
			background-color: transparent;
		}
	}
	
	&__item{
		float: left;
		margin-right: 15px;
		position: relative;
		width: 80px;
		height: 80px;
		background-color: black;
		box-shadow: 0 0 8px 1px black;

		&:last-child{
			margin-right: 0;
		}

		&-img{
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
		}
	}
}