.panels{
	&--bottom{
		position: relative;
		top: -7px;
		text-align: center;
		display: flex;
		flex-direction: column;
		padding-bottom: 100px;
	}
	
	&--top{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		text-align: center;
		z-index: 2;
	}

	&--shift-top{
		top: -115px !important;
	}

	&--transition{
		transition: top 1s cubic-bezier(.57,.21,.69,1.25); //cubic-bezier(.42,.97,.52,1.49);
	}
}

.panel{
	background-color: #764307;
	display: inline-block;
	box-shadow: inset 0 0 8px 1px black;
	padding: 15px 20px;
	margin: auto;

	&--bottom{
		position: relative;
		top: 0;
		&:nth-child(2) {
			top: -12px;
			padding: 10px 15px; 
			z-index: -1;
		}
	}

	&--clip-bottom{
		clip-path: inset(0px 0px 4px 0px);
	}

	&--top{
		padding: 0;
		box-shadow: none;
		background-color: transparent;

		& .panel__item{
			background-color: transparent;
		}
	}

	&__item-container{
    	height: 100%;

		&--empty{
			box-shadow: 0 0 8px 1px black;
		}

		&--hover{
			&:hover{
				& .panel__item-img-gif{
					opacity: 1;
					box-shadow: 0 0 8px 1px red, inset 0 0 8px 1px red;
				}   
	
				& .panel__item-img{
					opacity: 0;
				}
			}
		}

		&:active{
			& .panel__item-img-gif{
				background-color: rgb(90, 0, 0);
			}
		}
	}
	
	&__item{
		float: left;
		margin-right: 15px;
		position: relative;
		width: 80px;
		height: 80px;
		background-color: black;

		&:last-child{
			margin-right: 0;
		}

		&-img{
			box-shadow: 0 0 8px 1px black;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
			opacity: 1;
			cursor: pointer;

			.panel__item--selected &{
				box-shadow: 0 0 8px 1px red, inset 0 0 8px 1px red;
			}

			&-gif{
				position: absolute;
				top: 0;
				left: 0;
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				width: 100%;
				height: 100%;
				opacity: 0;
				cursor: pointer;
			}
		}

		&-number{
			position: absolute;
			right: 5px;
			color: #1c7984;
			bottom: 0;
		}

		&--yellow{
			background-color: yellow !important;
		}

		&--transition-color{
			transition: background-color 1s;
		}

		&-canvas{
			position: absolute;
			left: -120px;
			top: -120px;
			z-index: 3;
			display: none;
		}
	}
}