.shop{
	position: absolute;
	top: 50px;
    left: 0;
    right: 0;
    margin: auto;
	background-color: rgb(212 193 30);
	border: 3px solid #c10000;
    box-shadow: 0 0 10px rgb(255 0 0);
    max-width: 1064px;
}

.shop__body{
    box-shadow: inset 0 0 30px 5px #ff3b3b;
    padding: 10px 20px 20px;
    overflow: hidden;
}

.shop__title{
	font-family: 'FortunataCYR';
    font-size: 52px;
	padding: 0 0 30px;
	text-align: center;
    color: #e80000;
    text-shadow: 0 0 10px black;
}

.shop__close{
    position: absolute;
    top: -10px;
    right: -10px;
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 black;
    cursor: pointer;
}
.shop__close:hover{
	color: yellow;
}
.shop__close:active{
	background-color: #bb5b00;
	color: black;
}
.shop__close-body{
    box-shadow: inset 0 0 5px 0px black;
    height: 100%;
    border-radius: 5px;
    text-align: center;
    line-height: 22px;
    font-size: 28px;
    font-family: cursive;
}

.shop__categories{
	position: absolute;
	top: 25px;
}

.shop__container{
    height: calc(100% - 150px);
    background-color: #ff710087;
    box-shadow: 0 0 125px #ff6a00;
}




.shop__category{
    width: 50px;
    cursor: pointer;
    border: 5px solid black;
    background-color: #515400;
    box-shadow: 0 0 5px black;
}
.shop__category:hover{
    background-color: #ff8800;
}
.shop__category-active{
    background-color: #ff8800 !important;
    top: 5px;
    position: relative;
    border-bottom-width: 10px;
    cursor: default;
}

.shop__category-title{
	font-family: 'Cheri';
    font-size: 18px;
    color: #ff0000;
    text-shadow: 0 0 5px black;
    padding-left: 10px;
}



.shop__items-container{
    box-shadow: 0 0 5px black;
	background: url('../media/img/shop/fon1.jpg');
    background-size: cover;
    border: 3px solid black;
}
.shop__items-container-body{
	background-color: rgb(0 0 0 / 50%);
    padding: 10px 5px;
    overflow: auto;
    box-shadow: 0 0 50px 10px black;
}


.shop__item{
    float: left;
    margin: 10px;
    padding: 15px;
    position: relative;
    width: 200px;
	height: 270px;
	background-color: orange;
	box-shadow: inset 0 0 15px black;
}
.shop__item:hover{
    border-color: #ff8800;
}
.shop__item-active{
    border-color: #0069ff !important;
    cursor: default !important;
}
.shop__item > img{
    width: 100%;
    margin-bottom: 15px;
    height: 200px;
	object-fit: contain;
	/*background-color: black;*/
    box-shadow: 0 0 25px 3px #ff6700;
}
.shop__item > div{
    color: #000000;
    font-weight: bold;
    font-size: 18px;
}
.shop__item > button{
    border-color: #00204e !important;
    background-color: #000a15;
    bottom: 15px;
    position: absolute;
    width: calc(100% - 30px);
    color: #41f5ff;
    font-family: 'Komika Title - Axis RUS-LAT';
    box-shadow: 0 0 25px 3px #ff6700;
    cursor: pointer;
}
.shop__item > button:hover{
    color: #ff8800;
}
.shop__item > button > img {
    width: 15px;
    margin: 0 5px;
    position: absolute;
}